In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
URL = 'https://coinmarketcap.com/coins/'

In [3]:
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

In [4]:
page = requests.get(URL, headers=headers)

In [5]:
soup1 = BeautifulSoup(page.content, "html.parser")

In [6]:
soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

In [7]:
row_numbers = soup2.find_all("p", {"class" : "sc-e225a64a-0 hHLLiH"})
names = soup2.find_all("p", {"class" : "sc-e225a64a-0 ePTNty"})
Prices = soup2.find_all("div", {"class" : "sc-8bda0120-0 dskdZn"})
MarketCaps = soup2.find_all("p", {"class" : "sc-e225a64a-0 gLNGkf"})
Volume24Amounts = soup2.find_all("p", {"class" : "sc-e225a64a-0 gLNGkf font_weight_500"})
Volume24Qtys = soup2.find_all("p", {"class" : "sc-e225a64a-0 hHLLiH"})
CirculatingSupplys = soup2.find_all("p", {"class" : "sc-e225a64a-0 izpQLd"})

In [8]:
row_numbers = row_numbers[1:]
df = pd.DataFrame()

In [9]:
_rows = []
_volume24Qtys = []
for row_number in row_numbers:
    data = row_number.text.split()
    if len(data) == 1:
        _rows.append(' '.join(data))
    else:
        _volume24Qtys.append(' '.join(data))
            
df['row'] = _rows
df['volume24qty'] = _volume24Qtys

In [10]:
_names = []
for name in names:
    _names.append(name.text.strip())

df['name'] = _names

In [11]:
_prices = []
for Price in Prices:
    _prices.append(Price.text.strip())
    
df['price'] = _prices

In [12]:
_marketcaps = []
MarketCaps = MarketCaps[1:-1]
for MarketCap in MarketCaps:
    _marketcaps.append(MarketCap.text.split()[1])

df['marketcap'] = _marketcaps

In [13]:
_amounts = []
for Volume24Amount in Volume24Amounts:
    _amounts.append(Volume24Amount.text.strip())
    
df['volume24amount'] = _amounts

In [14]:
_circulatingsupplys = []

for CirculatingSupply in CirculatingSupplys:
    _circulatingsupplys.append(' '.join(CirculatingSupply.text.split()))
    
df['circulatingsupply'] = _circulatingsupplys

In [15]:
columns = ['row', 'name', 'price', 'marketcap', 'volume24qty', 'volume24amount', 'circulatingsupply']
df = df[columns]

In [16]:
df

,row,name,price,marketcap,volume24qty,volume24amount,circulatingsupply
0,1,Bitcoin,"$27,207.08","$525,885,590,388","1,190,416 BTC","$32,400,119,131","19,321,612 BTC"
1,2,Ethereum,"$1,782.45","$218,177,542,972","5,045,846 ETH","$8,996,121,981","122,373,866 ETH"
2,3,Tether,$1.00,"$76,406,555,771","42,128,512,996 USDT","$42,231,164,799","76,220,833,431 USDT"
3,4,BNB,$334.07,"$52,748,715,719","2,206,345 BNB","$737,101,198","157,891,278 BNB"
4,5,USD Coin,$0.9996,"$36,230,194,946","4,320,638,146 USDC","$4,318,852,910","36,245,171,016 USDC"
5,6,XRP,$0.3779,"$19,254,584,040","1,902,555,060 XRP","$718,984,296","50,950,912,949 XRP"
6,7,Cardano,$0.3426,"$11,891,397,453","887,829,100 ADA","$304,177,837","34,708,408,721 ADA"
7,8,Polygon,$1.20,"$10,443,134,489","382,981,467 MATIC","$457,909,502","8,734,317,475 MATIC"
8,9,Dogecoin,$0.07478,"$9,921,658,126","5,652,425,724 DOGE","$422,711,333","132,670,764,300 DOGE"
9,10,Solana,$21.80,"$8,359,530,949","26,900,843 SOL","$586,408,991","383,483,932 SOL"